.splash .header {
    width: 100%;
}

.splash .logo-container img {
    width: 250px;
}

.splash .module-container {
    width: 100%;
}

.splash .module {
    width: 45%;
}

.splash .module-title {
    color: var(--color6);
    width: 100%;
}

.splash .create-button {
    cursor: pointer;
    background: var(--color4);
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.5rem;
    width: 200px;
    color: var(--color6);
    letter-spacing: 0.03px;
    margin: 0.5rem;
}

.splash .create-button:hover {
    border-right: var(--color6) solid 4px;
}

.splash .create-button.project {
    background: var(--color2);
}

.splash .create-button.coming-soon {
    background: var(--color9);
    opacity: 0.8;
}
