/* Load up all the utility goodies from tachyons */

@import './css/typography.css';
@import './css/spacing.css';
@import './css/flex.css';
:root {
    --color1: #2b2b2b;
    --color2: #4b4b4b;
    --color3: #585858;
    --color4: #9012fe;
    --color5: #d0011b;
    --color6: #f3f3f3;
    /* for gradients */
    /* g: background-image: linear-gradient(-90deg, var(--color7) 0%, var(--color8) 100%); */
    --color7: #7b47f0;
    --color8: #68a9fb;
    --color9: #bd0fe1;
}

/* border-radius: 8px; */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--color1);
}
